// COLORS
$primary-color: #BA8B02;
$secondary-color:#BA8B02;

$white-color: #fff;

$dark-grey: #24243e;

$dark-blue-text: #24243e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;